* {
    -text-color-accent: ladder(-accent-color, white 0%, white 59%, black 60%, black 100%);
    -text-color-background: ladder(-background-color, white 0%, white 59%, black 60%, black 100%);
}

.root {
    -background-color: white;
    -fx-background-color: -background-color;
    -accent-color: white;
}

.button {
    -fx-background-color: -accent-color;
    -fx-border-color: none;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-background-insets: 0;
    -fx-margin: 0px;
    -fx-text-fill: -text-color-accent;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.button:hover {
    -fx-opacity: 90%;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 20, 0, 0, 0);
}

.bigButton {
    -fx-font-size: 20px;
}

.filePicker {
    -fx-border-radius: 0px;
    -fx-background-color: -accent-color;
    -fx-border-color: none;
    -fx-background-insets: 0;
    -fx-effect: none;
    -fx-text-fill: -text-color-accent;
}

.filePicker.button {
    -fx-border-color: -text-color-accent;
    -fx-border-width: 0px 0px 0px 1px;
}

.filePicker:hover {
    -fx-effect: none;
}

.list-view {
    -fx-border-radius: 0px;
    -fx-border-color: -accent-color;
    -fx-background-insets: 0;
    -fx-effect: none;
    -fx-text-fill: -text-color-accent;
}

.text-field {
    -fx-border-radius: 0px;
    -fx-background-color: -accent-color;
    -fx-border-color: none;
    -fx-background-insets: 0;
    -fx-effect: none;
    -fx-text-fill: -text-color-accent;
    -fx-prompt-text-fill: -text-color-accent;
}

.text-area {
    -fx-background-color: -accent-color;
    -fx-border-radius: 3px;
    -fx-border-color: -accent-color;
    -fx-background-insets: 0;
    -fx-effect: none;
    -fx-text-fill: -text-color-accent;
    -fx-prompt-text-fill: -text-color-accent;
}

.text-area .content {
    -fx-background-color: -accent-color;
    -fx-border-color: -accent-color;
    -fx-background-insets: 0;
    -fx-effect: none;
    -fx-text-box-border: transparent;
}

.color-picker {
    -fx-background-radius: 0px;
    -fx-background-insets: 0px;
    -fx-background-color: -accent-color;
}

.color-picker .arrow-button .arrow {
    -fx-background-color: -text-color-accent;
}

.title {
    -fx-font-size: 20px;
    -fx-fill: -text-color-background;
    -fx-font-family: Roboto;
}

.label {
    -fx-text-fill: -text-color-background;
    -fx-font-family: Roboto;
}

.category {
    -fx-border-color: transparent transparent -text-color-accent transparent;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.check-box {
    -fx-text-fill: -text-color-background;
}

.check-box .box {
    -fx-background-color: -accent-color;
}

.check-box:selected .mark {
    -fx-background-color: -text-color-accent;
}

.combo-box {
    -fx-background-color: -accent-color;
}

.combo-box .cell {
    -fx-text-fill: -text-color-accent;
}

.combo-box .arrow {
    -fx-background-color: -text-color-accent;
}