.window {
    -fx-background-color: #263238;
    -fx-font-family: Roboto;
}

.button {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-background-insets: 0;
    -fx-margin: 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.button:hover {
    /*-fx-background-color: #e7e7e7;*/
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
}

.filePicker {
    -fx-border-radius: 0px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-background-insets: 0;
    -fx-effect: none;
}

.filePicker:hover {
    -fx-effect: none;
    -fx-background-color: #f3f3f3;
}

.anchor-pane {
    -fx-background-color: white;
}

.title {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-family: Roboto;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: Roboto;
}